
hostname =www.52pojie.cn,music.163.com

# 52pojie获取Cookie
https:\/\/www\.52pojie\.cn\/home\.php\?mod=space url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/52pojie-DailyBonus/52pojie.js
# 网易云获取Cookie
^https:\/\/music.163.com\/weapi\/user\/level url script-request-body https://github.com/bnalan/scripts/blob/master/neteasemusic/quanx/neteasemusic.cookie.js